.Para{
  z-index: -1;
}
.parag{
  color:rgb(0, 0, 0);
  font-size:4rem;
  z-index:1;
  background: #cdb3eb;
  border-radius: 8rem;
  width: 25rem;
  height: 6rem;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-70%, -70%);
  transform: translate(-50%, -50%);
}


